
<!--<div class="container directory-info-row">-->
    <!--&lt;!&ndash; view option bar &ndash;&gt;-->
    <!--<div class="btn-group">-->
        <!--&lt;!&ndash; These two buttons switch the layout variable &ndash;&gt;-->
        <!--<button class="btn btn-default" ng-click="layout = 'list'">List</button>-->
        <!--<button class="btn btn-default" ng-click="layout = 'grid'">Grid</button>-->
        <!--<button class="btn btn-default" ng-click="layout = 'carousel'">Carousel</button>-->
    <!--</div>-->
    <!--<div class="search-box">-->
        <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--<input type="text" ng-model="searchText" placeholder="Search employee here...">-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" ng-repeat="employee in employees | filter : searchText">-->
            <!--<div class="panel">-->
              <!--<div class="panel-body">-->
                      <!--<a class="pull-left" href="#/{{employee._id}}">-->
                          <!--<img class="thumb media-object" fallback-src="/images/uploads/default.png" ng-src="/images/uploads/{{employee.name.replace(' ', '')}}.png" alt="Employee Image">-->
                      <!--</a>-->
                      <!--<h4><a href="#/{{employee._id}}">{{employee.name}}</a> </h4>-->
                      <!--<h4>{{employee.title}}</h4>-->
                      <!--<a href="#/{{employee._id}}/reports" >Direct Reports: {{ employee.dirReports.length}}</a>-->
                      <!--<button class="btn btn-primary" ng-click="viewDetail(employee)">Details</button>-->
                      <!--<button class="btn btn-success" ng-click="viewDetail(employee)">Edit</button>-->
                      <!--<button class="btn btn-danger" ng-click="viewDetail(employee)">Delete</button>-->
              <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
    <!--<div class="tool-bar">-->
        <!--&lt;!&ndash; view option bar &ndash;&gt;-->
        <!--<div class="btn-group">-->
        <!--&lt;!&ndash; These two buttons switch the layout variable &ndash;&gt;-->
        <!--<button class="btn btn-default" ng-click="layout = 'list'">List</button>-->
        <!--<button class="btn btn-default" ng-click="layout = 'grid'">Grid</button>-->
        <!--<button class="btn btn-default" ng-click="layout = 'carousel'">Carousel</button>-->
        <!--</div>-->
        <!--<span class="search-box">-->
        <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--<input type="text" ng-model="searchText" placeholder="Search employee here...">-->
        <!--</span>-->
    <!--</div>-->
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list" ng-repeat="employee in employees | filter : searchText">
                <li>
                    <!--<time datetime="2014-07-20">-->
                        <!--<span class="day">4</span>-->
                        <!--<span class="month">Jul</span>-->
                        <!--<span class="year">2014</span>-->
                        <!--<span class="time">ALL DAY</span>-->
                    <!--</time>-->
                    <img fallback-src="/images/uploads/default.png" ng-src="/images/uploads/{{employee.name.replace(' ', '')}}.png" alt="Employee Image">

                    <!--<img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />-->
                    <div class="info">
                        <h2 class="title">{{employee.name}}</h2>
                        <p class="desc">{{employee.title}}</p>
                        <!--<ul>-->
                            <!--<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a></li>-->
                            <!--<li style="width:50%;"><span class="fa fa-money"></span> $39.99</li>-->
                        <!--</ul>-->
                        <div class="profile-operation">
                        <button class="btn btn-primary" ng-click="viewDetail(employee)">Details</button>
                        <button class="btn btn-success" ng-click="viewDetail(employee)">Edit</button>
                        <button class="btn btn-danger" ng-click="viewDetail(employee)">Delete</button>
                        </div>
                      </div>
                      <div class="social">
                          <ul>
                              <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                              <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                              <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                          </ul>
                      </div>
                  </li>

              </ul>
          </div>
      </div>
  </div>
