<div class="container directory-info-row">
    <div class="row">
        <div class="col-md-6 col-sm-6" ng-repeat="employee in employees">
            <div class="panel">
        	  <div class="panel-body">
        	      <div class="media">
        	          <a class="pull-left" href="#/{{employee._id}}">
        	              <img class="thumb media-object" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
        	          </a>
        	          <div class="media-body">
        	              <h4><a href="#/{{employee._id}}">{{employee.name}}</a> <span class="text-muted small"> - {{employee.title}}</span></h4>
                          <a href="#/{{employee._id}}/reports" >Diret Reports: {{ employee.dirReports.reports.length}}</a>
                          <br>
                          <button class="btn btn-primary" ng-click="viewDetail(employee)">More Details</button>
        	          </div>
        	      </div>
        	  </div>
        	</div>
        </div>
    </div>
</div>
