<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{employee.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <img alt="Employee Image" fallback-src="/images/uploads/default.png" ng-src="/images/uploads/{{employee.name.replace(' ', '')}}.png" class="img-rounded img-responsive">
                    <div class="profile-operation">
                            <button  class="btn btn-primary" ng-click="editProfile()"><i class="fa fa-pencil fa-lg "></i> Edit</button>
                            <button  class="btn btn-primary" ng-click="deleteProfile()"><i class="fa fa-trash fa-lg"></i> Delete</button>
                    </div>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{employee.name}}</td>
                            <tr>
                                <td>Title:</td>
                                <td>{{employee.title}}</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>{{employee.sex}}</td>
                            </tr>
                            <tr>
                                <td>Start Date:</td>
                                <td>{{employee.startDate}}</td>
                            </tr>
                            <tr>
                                <td>Office Phone:</td>
                                <td>{{employee.officePhone}}</td>
                            </tr>
                            <tr>
                                <td>Cell Phone:</td>
                                <td>{{employee.cellPhone}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><a href="">{{employee.email}}</a></td>
                            </tr>
                            <tr>
                                <td>Manager:</td>
                                <td><a href="#/{{employee.managerObj._id}}">{{employee.managerObj.name}}</a></td>
                            </tr>
                            <tr>
                                <td>Direct Reports:</td>
                                <td><a href="#/{{employee._id}}/reports">{{employee.dirReports.length}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
