<!--<div class="container">-->
    <!--<div class="panel panel-info">-->
        <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">New Employee</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<form name="newForm">-->
                <!--<fieldset calss="form-group">-->
                    <!--<label>First Name:</label>-->
                    <!--<input class="form-control" type="text" name="firstName" ng-model="fName"  placeholder="First Name" required>-->
                    <!--<i ng-show="newForm.firstName.$error.required">*required</i>-->
                <!--</fieldset>-->
                <!--<fieldset calss="form-group">-->
                    <!--<label>Last name:</label>-->
                    <!--<input class="form-control" type="text" name="lastName" ng-model="lName"  placeholder="Last Name" required>-->
                    <!--<i ng-show="newForm.lastName.$error.required">*required</i>-->
                <!--</fieldset>-->
                <!--<fieldset class="form-group">-->
                    <!--<label>Title:</label>-->
                    <!--<input class="form-control" type="text" name="employeeTitle" ng-model="title" placeholder="Title" required>-->
                    <!--<i ng-show="newForm.employeeTitle.$error.required">*required</i>-->
                <!--</fieldset>-->
                <!--<fieldset class="form-group">-->
                    <!--<label>Sex:</label>-->
                    <!--<select class="form-control" ng-model="sex">-->
                        <!--<option>male</option>-->
                        <!--<option>female</option>-->
                        <!--<option>other</option>-->
                    <!--</select>-->
                <!--</fieldset>-->
                <!--<fieldset class="form-group">-->
                    <!--<label>Start Date:</label>-->
                    <!--<input class="form-control" type="text" ng-model="startDate"  placeholder="mm/dd/yyyy">-->
                <!--</fieldset>-->
                <!--<fieldset>-->
                    <!--<label>Office Phone:</label>-->
                    <!--<input class="form-control" type="text" ng-model="officePhone"  placeholder="Office Phone">-->
                <!--</fieldset>-->
                <!--<fieldset>-->
                    <!--<label>Cell Phone:</label>-->
                    <!--<input class="form-control" type="text" ng-model="cellPhone"  placeholder="Cell Phone">-->
                <!--</fieldset>-->
                <!--<fieldset>-->
                    <!--<label>Email:</label>-->
                    <!--<input class="form-control" type="email" ng-model="email"  placeholder="Email">-->
                <!--</fieldset>-->
                <!--<fieldset>-->
                    <!--<label>Manager:</label>-->
                    <!--<select class="form-control" ng-model="manager">-->
                        <!--<option>None</option>-->
                        <!--<option ng-repeat="employee in employees">{{employee.name}}</option>-->
                    <!--</select>-->
                <!--</fieldset>-->
                <!--<fieldset>-->
                    <!--<label>Image File:</label>-->
                    <!--<button class="btn btn-warning" type="file" ngf-select="uploadFiles($file, $invalidFiles)"-->
                            <!--accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">-->
                        <!--Select File</button>-->

                    <!--<div ng-show="f.progress >= 0">File selected: {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}-->
                      <!--<span class="progress">-->
                          <!--<div style="width:{{f.progress}}%" ng-bind="'progress:'+f.progress + '%'"></div>-->
                      <!--</span>-->
                    <!--</div>-->
                <!--</fieldset>-->
                <!--<fieldset>-->
                    <!--<button class="btn btn-primary" ng-click="addEmployee()">Create New Employee</button>-->
                <!--</fieldset>-->

            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">New Employee</h3>
        </div>
        <div class="panel-body">
            <form name="newForm">
                <fieldset>
                    <label>Profile Image:</label>
                    <img alt="Employee Image" style="height: 160px;" src="/images/uploads/default.png" ng-src="/images/uploads/{{employee.name.replace(' ', '')}}.png" class="img-circle img-responsive">
                    <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        Select File</button>

                    <div ng-show="f.progress >= 0">File selected: {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                      <span class="progress">
                          <div style="width:{{f.progress}}%" ng-bind="'progress:'+f.progress + '%'"></div>
                      </span>
                    </div>
                </fieldset>

                <fieldset calss="form-group row">
                    <label for="firstName" class="control-lable col-sm-2">First Name:</label>
                    <div class="col-sm-10">
                        <input id="firstName"  class="form-control" type="text" name="firstName" ng-model="fName"  placeholder="First Name" required>
                        <i ng-show="newForm.firstName.$error.required">*required</i>
                    </div>
                </fieldset>

                <fieldset calss="form-group row">
                    <label for="lastName" class="control-lable col-sm-2">Last name:</label>
                    <div class="col-sm-10">
                        <input id="lastName"  class="form-control" type="text" name="lastName" ng-model="lName"  placeholder="Last Name" required>
                        <i ng-show="newForm.lastName.$error.required">*required</i>
                    </div>
                </fieldset>

                <fieldset calss="form-group row">
                    <label for="title" class="control-lable col-sm-2">Title:</label>
                    <div class="col-sm-10">
                        <input id="title"  class="form-control col-sm-10" type="text" name="employeeTitle" ng-model="title" placeholder="Title" required>
                        <i ng-show="newForm.employeeTitle.$error.required">*required</i>
                    </div>
                </fieldset>

                <fieldset class="form-group row">
                    <label class="control-lable col-sm-2">Sex:</label>
                    <div class="col-sm-10 sex-option">
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="male">
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="female">
                        <label for="other">Other</label>
                        <input type="radio" name="gender" id="other" value="other">
                    </div>
                    <!--<input type="submit" value="Submit"><br>
                    <select class="form-control" ng-model="sex">
                        <option>male</option>
                        <option>female</option>
                        <option>other</option>
                    </select>-->
                </fieldset>

                <fieldset class="form-group row">
                    <label for="startDate" class="control-lable col-sm-2">Start Date:</label>
                    <div class="col-sm-10">
                        <input id="startDate"  class="form-control ng-valid-date uib-datepicker-popup" type="text" ng-model="startDate"  placeholder="mm/dd/yyyy">
                    </div>
                </fieldset>

                <fieldset class="form-group row">
                    <label for="officePhone" class="control-lable col-sm-2">Office Phone:</label>
                    <div class="col-sm-10">
                        <input id="officePhone"	  class="form-control" type="text" ng-model="officePhone"  placeholder="Office Phone">
                    </div>
                </fieldset>

                <fieldset class="form-group row">
                    <label for="cellPhone" class="control-lable col-sm-2">Cell Phone:</label>
                    <div class="col-sm-10">
                        <input id="cellPhone"  class="form-control" type="text" ng-model="cellPhone"  placeholder="Cell Phone">
                    </div>
                </fieldset>

                <fieldset class="form-group row">
                    <label for="email" class="control-lable col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input id="email"  class="form-control" type="email" ng-model="email"  placeholder="Email">
                    </div>
                </fieldset>

                <fieldset class="form-group row">
                    <label  for="manager" class="control-lable col-sm-2">Manager:</label>
                    <div class="col-sm-10">
                        <select id="manager"  class="form-control" ng-model="manager">
                            <option>None</option>
                            <option ng-repeat="employee in employees">{{employee.name}}</option>
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <button class="btn btn-primary" ng-click="addEmployee()">Create New Employee</button>
                </fieldset>

            </form>
        </div>
    </div>
</div>