<div class="container-fluid">
    <div class=" panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Employee Information</h3>
		</div>
        <div class="panel-body">			
			<form name="newForm">
                <div class="row-fluid" style="height:170px">
					<div class="col-sm-4">
						<img class="thumbnail newEmpImg" alt="Employee Image" style="height: 96px;margin-top:5px;" src="http://bootdey.com/img/Content/avatar/avatar6.png"  class="img-circle img-responsive">
						<button id="upload" class="btn btn-primary btn-select-img" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
								accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" style="height:20px;width:96px;font-size:12px;">
							Upload Image</button>
	
						<div ng-show="f.progress >= 0">File selected: {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
						<span class="progress">
							<div style="width:{{f.progress}}%" ng-bind="'progress:'+f.progress + '%'"></div>
						</span>
						</div>
					</div>
					<div class="col-sm-8">
						<h2 style="font-weight:700;"> Michael Phillips </h2>
						<strong>President</strong> at <strong><a href="#">TMC Software.Inc</a></strong>
						<br>
						<span class="glyphicon glyphicon-envelope"></span><abbr title='Work email'> e-mail:</abbr>
						<a href="mailto:#">michael.phillips@tmc.com</a>
						<br>
						<span class="glyphicon glyphicon-phone-alt"></span><abbr title='Work Phone'> phone:</abbr> (213)-222-6677
					</div>
					
                </div>
					
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#contact"  style="background-color:#fbfbff;">Contact</a></li>
						<li><a data-toggle="tab" href="#menu1">Address</a></li>
						<li><a data-toggle="tab" href="#menu2">Company</a></li>
						<li><a data-toggle="tab" href="#menu3">Resume</a></li>
					</ul>
					<div class="tab-content" style="background-color:#fbfbff; padding:20px; border-left:1px solid #ddd; border-bottom:1px solid #ddd; border-right:1px solid #ddd;">
						<div id="contact" class="tab-pane fade in active">
							<h4 style="color:DodgerBlue;">Personal Information</h4>
							
							<div class="form-group row">
								<label for="firstName" class="col-sm-2 form-control-label">First Name:</label>
								<div class="col-sm-6">
									<input id="firstName"  class="form-control" type="text" name="firstName" ng-model="fName"  placeholder="First Name" required>
									<!--<i ng-show="newForm.firstName.$error.required">*required</i>-->
								</div>
							</div>
							
							<div class="form-group row">
								<label for="lastName" class="form-control-label col-sm-2">Last name:</label>
								<div class="col-sm-6">
									<input id="lastName"  class="form-control" type="text" name="lastName" ng-model="lName"  placeholder="Last Name" required>
									<!--<i ng-show="newForm.lastName.$error.required">*required</i>-->
								</div>
							</div>
							
							<div class="form-group row">
								<label for="title" class="form-control-label col-sm-2">Title:</label>
								<div class="col-sm-6">
									<input id="title"  class="form-control" type="text" name="employeeTitle" ng-model="title" placeholder="Title">
									
								</div>
							</div>
							
							<div class="form-group row">
								<label id="label-sex"class="form-control-label col-sm-2">Gender:</label>
								<div class="col-sm-6 sex-option">
									<input type="radio" name="gender" id="female" value="female">
									<label class="sex" for="female">Female </label>
									<input type="radio" name="gender" id="male" value="male">
									<label class="sex" for="male">Male </label>
									<input type="radio" name="gender" id="other" value="other">
									<label class="sex" for="other">Other</label>
								</div>
								<!--<input type="submit" value="Submit"><br>
								<select class="form-control" ng-model="sex">
									<option>male</option>
									<option>female</option>
									<option>other</option>
								</select>-->
							</div>
							
							<div class="form-group row">
								<label for="startDate" class="form-control-label col-sm-2">Start Date:</label>
								<div class="col-sm-6">
									<!--<input id="startDate"  class="form-control" type="text" ng-model="startDate"  placeholder="mm/dd/yyyy">
									-->
									<p class="input-group">
										<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</p>
								</div>
							</div>
							
							<h4 style="color:DodgerBlue;">Contact Information</h4>
							
							<div class="form-group row">
								<label for="officePhone" class="form-control-label col-sm-2">Office Phone:</label>
								<div class="col-sm-6">
									<input id="officePhone"	  class="form-control" type="text" ng-model="officePhone"  placeholder="Office Phone">
								</div>
							</div>
							
							<div class="form-group row">
								<label for="cellPhone" class="form-control-label col-sm-2">Cell Phone:</label>
								<div class="col-sm-6">
									<input id="cellPhone"  class="form-control" type="text" ng-model="cellPhone"  placeholder="Cell Phone" required>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="email" class="form-control-label col-sm-2">Email:</label>
								<div class="col-sm-6 col-lg-6">
									<input id="email"  class="form-control" type="email" name="email" ng-model="email"  placeholder="Email" required>
									<!--<i ng-show="newForm.email.$error.required">*required</i>-->
								</div>
							</div>
							
							<div class="form-group row">
								<label  for="manager" class="form-control-label col-sm-2">Manager:</label>
								<div class="col-sm-6">
									<select id="manager"  class="form-control" ng-model="manager">
										<option>None</option>
										<option ng-repeat="employee in employees">{{employee.name}}</option>
									</select>
								</div>
							</div>
							
							<div>
									<button class="btn btn-primary btn-create" ng-click="addEmployee()">Save</button>
																
									<button class="btn btn-primary btn-cancel" ng-click="addEmployee()">Cancel</button>
								
							</div>
						</div>
						<div id="menu1" class="tab-pane fade">
							<h3>Menu 1</h3>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
						
						
					</div>
			
            </form>
        </div>
    </div>
</div>