<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">New Employee</h3>
        </div>
        <div class="panel-body">
            <form name="newForm">
                <fieldset calss="form-group">
                    <label>First Name:</label>
                    <input class="form-control" type="text" name="firstName" ng-model="fName"  placeholder="First Name" required>
                    <i ng-show="newForm.firstName.$error.required">*required</i>
                </fieldset>
                <fieldset calss="form-group">
                    <label>Last name:</label>
                    <input class="form-control" type="text" name="lastName" ng-model="lName"  placeholder="Last Name" required>
                    <i ng-show="newForm.lastName.$error.required">*required</i>
                </fieldset>
                <fieldset class="form-group">
                    <label>Title:</label>
                    <input class="form-control" type="text" name="employeeTitle" ng-model="title" placeholder="Title" required>
                    <i ng-show="newForm.employeeTitle.$error.required">*required</i>
                </fieldset>
                <fieldset class="form-group">
                    <label>Sex:</label>
                    <select class="form-control" ng-model="sex">
                        <option>male</option>
                        <option>female</option>
                        <option>other</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label>Start Date:</label>
                    <input class="form-control" type="text" ng-model="startDate"  placeholder="mm/dd/yyyy">
                </fieldset>
                <fieldset>
                    <label>Office Phone:</label>
                    <input class="form-control" type="text" ng-model="officePhone"  placeholder="Office Phone">
                </fieldset>
                <fieldset>
                    <label>Cell Phone:</label>
                    <input class="form-control" type="text" ng-model="cellPhone"  placeholder="Cell Phone">
                </fieldset>
                <fieldset>
                    <label>Email:</label>
                    <input class="form-control" type="email" ng-model="email"  placeholder="Email">
                </fieldset>
                <fieldset>
                    <label>Manager:</label>
                    <select class="form-control" ng-model="manager">
                        <option>None</option>
                        <option ng-repeat="employee in employees">{{employee.name}}</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label>Image File:</label>
                    <button class="btn btn-warning" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        Select File</button>

                    <div ng-show="f.progress >= 0">File selected: {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                      <span class="progress">
                          <div style="width:{{f.progress}}%" ng-bind="'progress:'+f.progress + '%'"></div>
                      </span>
                    </div>
                </fieldset>
                <fieldset>
                    <button class="btn btn-primary" ng-click="addEmployee()">Create New Employee</button>
                </fieldset>

            </form>
        </div>
    </div>
</div>