<div class="container">

    <h3>User List</h3>

    <table class="table table-striped table-bordered table-hover table-responsive">
        <tr>
            <th>Edit</th>
            <th ng-click="orderByMe('fName')">First Name </th>
            <th ng-click="orderByMe('lName')">Last Name</th>
            <th ng-click="orderByMe('title')">Title</th>
            <th ng-click="orderByMe('sex')">Sex</th>
            <th ng-click="orderByMe('age')">Age</th>
        </tr>
        <tr>
            Search: <input type="text" ng-model="searchText" placeholder="Search user here...">
        </tr>
        <br>
        <br>
        <tr dir-paginate="user in users | filter : searchText | orderBy : myOrderBy| itemsPerPage : 6" >
            <td>
                <a  href="#/edit_user/{{user._id}}" class="btn btn-primary">&#9998; Edit</a>
                <button class="btn btn-primary" ng-click="deleteUser(user._id)">Delete</button>
            </td>
            <td>{{ user.fName }}</td>
            <td>{{ user.lName }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.sex }}</td>
            <td>{{ user.age }}</td>

        </tr>

    </table>
    <dir-pagination-controls></dir-pagination-controls>
    <!--
                   <ul class="pagination">
                    <li >
                        <a ng-click="prevPage()">Prev</a>
                    </li>
                    <li ng-repeat="num in pageNums" ng-class="{active: num == currentPage}">
                            <a ng-click="setPage(num)">{{num + 1}}</a>
                    </li>
                    <li >
                        <a ng-click="nextPage()">Next</a>
                    </li>
                </ul> -->
</div>
